alias confn="nvim ~/.config/nvim/init.vim"
alias confz="nvim ~/.zshrc"
alias confi="nvim ~/.config/i3/config"
alias confp="nvim ~/.config/polybar/config"
alias confa="nvim ~/.aliases"
alias rcs="sudo rc-service"
alias rcu="sudo rc-update"
alias camoff="sudo modprobe -r uvcvideo"
alias camon="sudo modprobe uvcvideo"
alias capsoff="setxkbmap -option caps:escape"
alias listissues="gh issue status" 
alias createissue="gh issue create"
alias serverconnect="sudo ssh -i "~/.ssh/linux.pem" admin@ec2-52-57-4-241.eu-central-1.compute.amazonaws.com"
alias serverconnect2="sudo ssh -i "~/.ssh/LightsailDefaultKey-eu-central-1.pem" admin@3.69.111.124"
alias servsftp="sudo sftp -i "~/.ssh/linux.pem" admin@ec2-52-57-4-241.eu-central-1.compute.amazonaws.com"
alias servsftp2="sudo sftp -i "~/.ssh/LightsailDefaultKey-eu-central-1.pem" admin@3.69.111.124"
alias ls="ls --color"
